@model IEnumerable<Todo>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <form method="post" asp-action="AddTodo">
                <label for="title">Title</label>
                <input id="title" type="text" name="title" />
                <input type="submit" class="btn btn-success" />
            </form>
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center">


        <div class="col-6">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item h4">@item.Title </li>
                }
            </ul>
        </div>
    </div>
</div>
